
body {
    margin: 0;
    background-color: #f4f4f4;
}

main {
    padding-top: 3%;
    width: 80%;
    margin: 0 auto;
}

.us {
    padding-bottom: 60px;
}

.us > h1 {
    text-align: center;
    font-family: 'Fredoka One', cursive;
}

@media (max-width:901px) {
    main {
        width: 100%;
    }
}

#container {
    display: flex;
    flex-wrap: wrap;
}

.columns {
    flex: 1 1 auto;
    text-align: center;
}

.portrait {
    flex: 1 1 auto;
}

.columns .portrait img {
    flex: 1 1 auto;
    border-radius: 50%;
    height: 250px;
}

.columns h4 {
    font-style: normal;
    font-family: 'Fredoka One', cursive;
    font-size: 1.4rem;
}

.columns p {
    font-weight: bold;
    text-transform: uppercase;
    margin-top: -30px;
    padding: 2px;
    margin-bottom: 35px;
}

a {
    text-decoration: none;
    padding: 10px;
    color: #e67d62;
}

a:hover {
    color: #FF4136;
}

.contact {
    text-align: center;
    display: flex;
    flex-direction: column;

}

.contact h1 {
    font-family: 'Fredoka One', cursive;
}

input[type=text],
[type=email] {
    align-self: center;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    margin: 10px;
    outline: none;

}

input:hover {
    background: #DDDDDD;

}

input[type=text]:focus {
    background-color: lightblue;
}

input[type=email]:focus {
    background-color: lightblue;
}

textarea {
    margin: 10px;
    align-self: center;
    outline: none;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea:focus {
    border: 1.5px solid lightblue;
}