header {
    background: url(../img/header-img.jpeg) no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
}


header h1 {
    text-align: center;
    position: block;
    color: #f4f4f4;
    font-family: open sans;
    margin: 0;
    letter-spacing: 6px;
    font-size: 4rem;
}

header h2 {
    text-align: center;
    position: block;
    color: #f4f4f4;
    font-family: monospace;
    margin: 0;
    letter-spacing: 2px;
    font-size: 1.7rem;
}

.header-text img {
    text-align: center;
    display: block;
    transition: 0.70s;
    width: 70%;
    -webkit-transition: 0.70s;
    -moz-transition: 0.70s;
    -ms-transition: 0.70s;
    -o-transition: 0.70s;
    margin: 0 auto;
}

.header-text img:hover {
    transition: 0.70s;
    -webkit-transition: 0.70s;
    -moz-transition: 0.70s;
    -ms-transition: 0.70s;
    -o-transition: 0.70s;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
header .header-text {
    margin: 0 auto;
    text-align: center;
    padding-top: 25vh;
}

header .header-text p{
    position: block;
    color: #f4f4f4;
    font-family: monospace;
    margin: 0;
    letter-spacing: 2px;
    font-size: 1.6rem;
    font-style: italic;
}