header {
    background: url(../img/header-img.jpeg) no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
}
header>a{
  display: block;
}
header h1 {
    text-align: center;
    position: relative;
    top: 40vh;
    color: #f4f4f4;
    font-family: open sans;
    margin: 0;
    letter-spacing: 6px;
    font-size: 4rem;
}
header h2 {
    text-align: center;
    position: relative;
    top: 40vh;
    color: #f4f4f4;
    font-family: monospace;
    margin: 0;
    letter-spacing: 2px;
    font-size: 1.7rem;
}
header>a p {
    text-align: center;
    position: relative;
    top: 45vh;
    color: #f4f4f4;
    font-family: monospace;
    margin: 0;
    letter-spacing: 2px;
    font-size: 1.6rem;
    font-style: italic;
}
header img{
  width: 10%;
  text-align: center;
  position: relative;
  top: 50vh;
  left: 50%;

  transform: translate(-50%, 0);
}
