* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}


/* Menu / Navigation */

header nav {
    background-color: rgba(255, 255, 255, 0.85);
    border: 1px solid #dedede;
    border-radius: 4px;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
    display: block;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}

.leMenu {
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    list-style-type: none;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

header nav>ul>li>a {
    color: dimgrey;
    display: block;
    line-height: 56px;
    padding: 0 24px;
    text-decoration: none;
    font-size: 1rem;
    font-family: open sans;
    text-transform: uppercase;
}

header nav>ul>li:hover {
    background-color: rgb( 40, 44, 47);
    padding: 0 10px;
    border-radius: 2.5px;
}

header nav>ul>li:hover>a {
    color: rgb( 255, 255, 255);
}

header nav>ul>li:hover>a>i {
    color: #3fe61e;
}

input[type=checkbox] {
    display: none;
}

.labelForMenu {
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    font-size: 2rem;
    display: inline-block;
    font-family: monospace;
    margin-top: 10px;
    float: left;
    margin-left: 20px;
    padding: 0 10px;
    display: none;
}

.labelForMenu:hover {
    background-color: rgb( 40, 44, 47);
    border-radius: 2.5px;
    color: #fff;
}

.labelForMenu i {
    font-size: 2rem;
    padding-right: 20px;
}

input[type=checkbox]:checked~.leMenu {
    display: block;
}


/* Marquee (Moving text)*/

.marquee {
    width: 55%;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}

.marquee span {
    display: inline-block;
    padding-left: 100%;
    text-indent: 0;
    animation: marquee 19s linear infinite;
    font-family: monospace;
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: -0.5px;
}

.marquee span:hover {
    animation-play-state: paused
}

@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}

/* Footer */

.aboveFooter {
    background: url(../img/footer.png) center center no-repeat;
    position: relative;
    height: 150px;
    background-color: #F4F4F4;
}

footer {
    background-color: #292967;
    position: relative;
}
footer .logo {
    width: 50%;
}

footer>.flexWrapper {
    display: flex;
    padding: 50px 0;
    width: 70%;
    margin: 0 auto;
    justify-content: space-around;
}

footer .license a{
    color: #6d6d6d;
    text-decoration: none;

}


footer .license a:hover{
    color: #a0a0a0;
    text-decoration: none;

}
.flexWrapper>div:first-child {
    text-align: center;
    padding-top: 30px;
}
.flexWrapper img {
    margin-bottom: 15px;
}
.flexWrapper>div:last-child {
    text-align: center;
}

.flexWrapper span {
    font-family: monospace;
    font-size: 1.5rem;
    color: #a0a0a0;
    padding: 0 10px;
    text-transform: uppercase;
}

.flexWrapper ul {
    list-style-type: none;
    font-family: monospace;
    font-size: 1rem;
    color: #6d6d6d;
    text-align: left;
}

.hr-footer {
    width: 70%;
    color: rgba(255, 255, 255, 0.1);
}

footer>div:last-child {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    padding: 20px 0;
}

footer>div:last-child>span {
    font-family: monospace;
    font-size: 1.5rem;
    color: #a0a0a0;
    padding: 0 10px;
    text-transform: uppercase;
    display: inline-block;
}

footer>div:last-child>p {
    font-family: monospace;
    font-size: 0.9rem;
    line-height: 30px;
    color: #6d6d6d;
}


/* MEDIA QUERIES */

@media screen and (max-width: 940px) {
    header>nav>.marquee {
        width: 100%;
    }
    header>nav>ul>li:hover {
        padding: 0;
    }
    .leMenu {
        display: none;
    }
    .labelForMenu {
        display: block;
    }
    .hr-footer {
        width: 90%;
    }
    footer .flexWrapper {
        width: 100%;
        flex-wrap: wrap;
    }
    footer .flexWrapper * {
        padding: 5px 0;
    }
    footer div:last-child {
        width: 95%;
    }
}
