*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #f4f4f4;
}
h1{
  text-transform:uppercase;
}

/*FONTS*/


/*Global FLEX OBJECTS*/
.container-1{
  width: 80%;
  margin: auto;
  overflow: hidden;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.imgbox{
width:30%;
padding: 10px;
border: 1px gray solid;
}
.textbox{
  width: 50%;
  padding: 10px;
  border: 1px gray solid;
  display: flex;

  flex-wrap: wrap;
  flex-direction: column;
}
.fillbox{
  width: 10%;
  padding: 10px;
  border: 1px gray solid;
}


/*SECTION STRESSED*/

#stressed h1{
  margin: 100px 0 10px 0;
  text-align: left;
  font-family: 'Open Sans', sans-serif;

}

#stressed .imgbox img{
  margin-top: 100px;
  width: 100%;
}
#stressed p{
  
  text-align: justify;
  line-height: 1.5;
  width: 100%;
}
