body {
    background-color: #f4f4f4;
}

main {
    margin-bottom: 150px;
}

h1,
p {
    font-family: monospace;
}

.col-sm-12 h4 {
    font-family: monospace;
    font-weight: 700;
}

.col-sm-7 h4 {
    font-family: monospace;
    font-weight: 700;
}

.arrow-right > h6 {
    margin: 4px;
    text-align: center;
    font-family: monospace;
    font-weight: 700;
}

h4 + h6 {
    font-family: monospace;
    font-weight: 700;
}

@media screen and (max-width:1199px) {
    .row h1 {
        text-align: center;
    }
}

.row h1 {
    font-family: monospace, cursive;
    margin-left: 3%;
    position: relative;
    top: 120px;
}

.timeline {
    position: absolute;
    top: 14rem;
    left: 50%;
    border-left: 4px solid red;
    height: 77%;
    z-index: -1;
}


.timeline-content {
    top: 120px;
    position: relative;
    margin: 20px 20px;
    background-color: #a58855;
    z-index: -1;
    box-shadow: 10px 10px 5px black;
}

.offset-xl-6 .timeline-content {
    box-shadow: -10px 10px 5px black;
}

.arrow-right {
    position: absolute;
    left: 100%;
    top: 2rem;
    background-color: #a58855;
    width: 4.5rem;
    height: 3rem;
    text-align: center;
    box-shadow: 10px 10px 5px black;
}

.offset-xl-6 .arrow-right {
    left: -11.8%;
    box-shadow: -10px 10px 5px black;
}

.timehold-right .timeline-year {
    left: -23.5%;
    top: 13%;
}

@media screen and (max-width:1200px) {
    .timeline-content > .arrow-right {
        display: none;
    }
    .col-xl-12 > .timeline {
        border-left: 4px solid black;
    }
    .offset-xl-6 .arrow-right {
        box-shadow: 10px 10px 5px black;
    }
    .offset-xl-6 .timeline-content {
        box-shadow: 10px 10px 5px black;
    }
}

.gradient {
    background-image: linear-gradient( to right,
    #f1dbba, #a58855);
}

.offset-xl-6 .gradient {
    background-image: linear-gradient( to left,
    #f1dbba, #a58855);
}

/* COLOR above the footer */

.aboveFooter {
    background-color: #f4f4f4 !important;
}

@media (min-width:1400px) and (max-width:5464px) {
    .arrow-right {
        display: none;
    }
    .timeline {
        display: none;
    }
}
