body {
    background-color: goldenrod;
}
main {
    margin-bottom: 150px;
}
p
    {
    font-family: 'Kalam', cursive;
}
.arrow-right > h6 {
    margin:2px;
    text-align: center;
    font-family: 'Kalam', cursive;
}

 .col-sm-12  h4 {    
    font-family: 'Kalam', cursive;
}
 .col-sm-12  h6 {    
    font-family: 'Kalam', cursive;
}

 .col-sm-7  h6 {    
    font-family: 'Kalam', cursive;
}
.col-sm-7  h4 {    
    font-family: 'Kalam', cursive;
}

@media screen and (max-width:1199px) {
    .row h1 {
        text-align: center;
    }
}

@media screen and (max-width:1200px) {
    .timeline-content > .arrow-right {
        display: none;
    }
}

.row h1 {
    font-family: 'Kalam', cursive;
    margin-left: 3%;
    position: relative;
    
    top: 120px;
}

.timeline {
    position: absolute;
    top: 15%;
    left: 50%;
    border-left: 4px solid red;
    height: 75%;
    z-index: -1;
}


.timeline-content {
    top: 120px;
    position: relative;
    margin: 20px 20px;
    background-color: #a58855;
    z-index: -1;
}

.arrow-right {
    position: absolute;
    left: 100%;
    top: 13%;
    background-color: #a58855;
    width: 65px;
    height: 40px;
    text-align: center;

}

.offset-xl-6 .arrow-right {
    left: -11.8%;
}

.timehold-right .timeline-year {
    left: -23.5%;
    top: 13%;
}


.gradient {
    background-image: linear-gradient( to right,
    brown, #a58855);
}

.offset-xl-6 .gradient {
    background-image: linear-gradient( to left,
    brown, #a58855);
}

/* COLOR above the footer */
.aboveFooter {
    background-color: #DAA520 !important;
}
